.Isso aqui e o css do HEADER 

.header {
    text-align: center;
    padding: 10px 0;
}

div.cabecaum_unico {
    background-image: url('/imgs/pattern.png');
    background-repeat: repeat;
}

.espaco_inv_topo {
    background-color: rgb(42, 172, 42);
    padding: 15px;
}

div.menu {  
    display: flex;
    justify-content: center;
    padding: 12px;
    margin-top: -40px;
    padding-top: 20px;
    margin-left: 600px;
    margin-right: 600px;
    background-color: rgb(42, 172, 42);
    border-radius: 10px;
}


.menu {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 5px 15px;
    font-weight: bolder;
}
.menu a:hover {
    color: #f0f0f0;
  }

#menu-link-meio {
    border-left: solid 3px white;
    border-right: solid 3px white;
    padding-left: 15px;
    padding-right: 15px;
}

.header-items {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

.banner {
    width: 15%;
    height: auto;
}

#banner-if {
    width: 20%;
}



.green-bar {
    background-color: rgb(42, 172, 42);
    text-align: center;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
  }
  
  .marquee-text {
    margin-top: 6px;
    margin-bottom: 6px;
    display: inline-block;
    white-space: nowrap;
    animation: marquee 40s linear infinite;
  }

.butao_reg_ativd {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 7px;
    border: solid rgb(55, 134, 199) 5px;
    transition: background-color 0.3s ease;
}

.butao_reg_ativd:hover {
    background-color: #297aaf;
    border: solid rgb(84, 150, 204) 5px;
}