@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&display=swap');

* {
  font-family: 'Overpass Mono', monospace;
}
/*teste*/
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
} 

main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0px;
  margin: 0px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 17%;
  padding: 15px 17px 15px 17px;
  padding-right: 20px;
  border-right: 1px solid #ccc;
  background-color: #7bba70;
}

.sidebar-botao {
  text-decoration: none;
  background-color: #b6feb9;
  margin: 3px 4px;
  padding: 10px;
  border-radius: 10px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  background-color: #84da87;
  border-radius: 15px;
  padding: 14px;
}

.main-content {
  width: 80%;
}




